body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: darkolivegreen;
}
h1, h3 {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 24px;
}
img {
    width: 65%;
    height: auto;
    text-align: center;
}
#img {
    text-align: center;
}